<h1><%= @product.name %>, $<%= number_with_precision(@product.price, precision: 2) %></h1>

<p><%= @product.description %></p><br />
<p><%= image_tag @product.index.url(:medium) %></p>

<% if current_user != nil %>
  <p><%= link_to "Edit this product", edit_product_path, :class => "btn btn-default" %>
  <p><%= link_to "Delete this product", product_path(@product),
                                        :method => "delete",
                                        :class => "btn btn-default" %></p>
<% end %>
<p><%= link_to "Return to Store Front", products_path, :class => "btn btn-primary" %>
